<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929938752072-50r2o3b2rsm9mgfgtnscvd3ls38kfrk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929938752072-50r2o3b2rsm9mgfgtnscvd3ls38kfrk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBNZxZaGlqASOK9YNldIfK5J_dQKlzFdME</string>
	<key>GCM_SENDER_ID</key>
	<string>929938752072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testeBanco</string>
	<key>PROJECT_ID</key>
	<string>testebanco-88b0c</string>
	<key>STORAGE_BUCKET</key>
	<string>testebanco-88b0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929938752072:ios:f641e0c05cc6b21f504e7d</string>
</dict>
</plist>